{% extends "./layout.html" %}
{% load static %}

{% block body %}
    {% block script %}
<script defer src="{% static 'taskomatic/projectPage.js' %}"></script>
    {% endblock %}
<div id="projectPageMainContainer">
    <h2>
        {{ project.projectName }} &nbsp;
        <form style="display: inline-block;" method="POST" action="{% url 'editProject' %}" name="editForm">
            {% csrf_token %}
            <input type="hidden" name="projectId" id="projectId" value="{{ project.id }}">
            <i id="editIcon" class="fa-solid fa-pen-to-square cursor-pointer hover:text-sky-600" title="Edit Project"></i>
            <a href="{% url 'addMember' project.id %}">
                <i id="addMember" class="fa-solid fa-person-circle-plus cursor-pointer hover:text-sky-600" title="Add Member"></i>
            </a>
        </form>
    </h2>
    <p class="descriptiveParagraph">{{ project.projectDescription }}</p>
    <!-- "ADD TASK/INVENTORY" MODAL -->
    <div class="modal h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50 z-10 hidden">
        <div class="bg-white rounded shadow-lg w-1/3">
            <div class="border-b px-4 py-2">
                <h3 class="modalTitle"></h3>
            </div>
            <form method="POST" action="{% url 'handleTasks' 'add' %}" name="addTaskForm" id="addTaskForm">
                {% csrf_token %}
                <div class="p-3 tasksModalForm">
                    <input type="hidden" name="projectId" value="{{ project.id }}">
                    <input type="hidden" name="taskCreator" value="{{ request.user }}">
                    {{ taskForm.taskName }}
                    {{ taskForm.taskDescription }}
                    <div class="p-1">
                        <label for="id_taskDeadline" class="font-bold">Deadline:</label>
                        {{ taskForm.taskDeadline }}
                    </div>
                    <div class="p-1">
                        <label for="id_taskLimitAlert" class="font-bold">Reminder:</label>
                        {{ taskForm.taskLimitAlert }}
                    </div>
                    <div class="p-1">
                        <label for="id_taskImportance" class="font-bold">Priority:</label>
                        {{ taskForm.taskImportance }} <span class="font-light text-sm italic">1 (Low) - 10 (High)</span>
                    </div>
                </div>
            </form>
            <form method="POST" action="{% url 'handleInventory' 'add' %}" name="addInventoryForm" id="addInventoryForm">
                {% csrf_token %}
                <div class="p-3 inventoryModalForm">
                    <input type="hidden" name="projectId" value="{{ project.id }}">
                    {{ inventoryForm.itemName }}
                    {{ inventoryForm.itemDescription }}
                    <label for="id_itemQty" class="font-bold">Amount:</label>
                    {{ inventoryForm.itemQty }}
                    {{ inventoryForm.itemUnit }} <br>
                    <label for="id_itemLimitAlert" class="font-bold">Restock Alert:</label>
                    {{ inventoryForm.itemLimitAlert }}
                </div>
            </form>
            <div class="flex justify-end items-center w-100 border-t p-3">
                <button class="bg-red-400 hover:bg-red-500 px-3 py-1 rounded text-white mr-1 close-modal">Back</button>
                <button class="bg-sky-400 hover:bg-sky-500 px-3 py-1 rounded text-white add-modal">Add</button>
            </div>
        </div>
    </div>
    <div id="tasksAndInventorySection">
        <span id="tasksContainer">
            <h3 class="mb-1">Tasks</h3>
            {% if project.hasTasks %}
                {% if tasks %}
                    {% for task in tasks %}
                    {% if task.taskCompletion == False %}
            <div class="taskInstancesContainer" id="taskInstancesContainer{{ task.id }}">
                <form method="POST" action="{% url 'handleTasks' 'complete' %}" name="completeTaskForm{{ task.id }}" id="{{ task.id }}">
                        {% csrf_token %}
                        {% for form in taskForms %}
                            {% if form.instance.id == task.id %}   
                                <input type="hidden" value="{{ task.id }}" name="hidTaskId">
                                {{ form.taskCompletion }}
                            {% endif %}
                        {% endfor %}
                </form>
                <span class="inline-block font-bold text-base">{{ task.taskName }}</span>
                <span class="inline-block font-medium italic text-sm"><b>Due in:</b> {{ task.taskDeadline }}</span>
                <span class="taskDeleteBtns">
                    <i class="fa-solid fa-xmark cursor-pointer hover:text-sky-600" data-pk="{{ task.id }}" title="Remove">{% csrf_token %}</i>
                </span>     
            </div>
                    {% endif %}
                    {% endfor %}
                    <p class="font-bold">Completed</p>
                    <hr class="mb-2">
                    {% for task in tasks %}
                    {% if task.taskCompletion == True %}
            <div class="taskInstancesContainer" id="taskInstancesContainer{{ task.id }}">
                <form method="POST" action="{% url 'handleTasks' 'complete' %}" name="completeTaskForm{{ task.id }}" id="{{ task.id }}">
                        {% csrf_token %}
                        {% for form in taskForms %}
                            {% if form.instance.id == task.id %}    
                                <input type="hidden" value="{{ task.id }}" name="hidTaskId">
                                {{ form.taskCompletion }}    
                            {% endif %}
                        {% endfor %}
                </form>
                <span class="inline-block font-bold text-lg">{{ task.taskName }}</span>
                <span class="inline-block font-medium italic text-sm"><b>Due in:</b> {{ task.taskDeadline }}</span>
                <span style="text-decoration: none;" class="taskDeleteBtns">
                    <i class="fa-solid fa-xmark cursor-pointer hover:text-sky-600" data-pk="{{ task.id }}" title="Remove">{% csrf_token %}</i>
                </span> 
            </div>
                    {% endif %}
                    {% endfor %}
            <button type="button" class="addTaskButton inline-block rounded bg-sky-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-sky-300 max-w-s self-center">
                + Add Task
            </button>
                {% else %}
            <p>Currently, there are no tasks.</p>
            <button type="button" class="addTaskButton inline-block rounded bg-sky-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-sky-300 max-w-s self-center">
                + Add Task
            </button>
                {% endif %}
            {% else %}
            <p>Tasks are <b>disabled</b> of this project.</p>
            <!-- Add another conditional here for owner of project (enable/disable button) -->
            <p>Request project owner to enable this functionality.</p>
            {% endif %}
        </span>
        <span id="inventoryContainer">
            <h3>Inventory</h3>
            {% if project.hasInventory %}
                {% if inventory %}
                    {% for inventoryItem in inventory %}
                        {% if inventoryItem.itemQty > 0 and inventoryItem.itemLimitAlert == None or inventoryItem.itemQty > inventoryItem.itemLimitAlert and inventoryItem.itemLimitAlert != None %}
            <div class="inventoryInstancesContainer relative" id="inventoryInstanceContainer{{ inventoryItem.id }}">
                <span class="ml-1 pr-2 inline-block">
                    <a href="#" class="increment-btn"><p><i class="fa-regular fa-square-plus" data-pk="{{ inventoryItem.id }}">{% csrf_token %}</i></p></a>
                    <a href="#" class="decrement-btn"><p><i class="fa-regular fa-square-minus" data-pk="{{ inventoryItem.id }}">{% csrf_token %}</i></p></a>
                </span>
                <span class="inline-block font-bold">{{ inventoryItem.itemName }}</span>
                <span class="inline-block font-medium italic text-sm mr-3">
                    <span class="inline-block" id="qty{{inventoryItem.id}}">{{inventoryItem.itemQty}}</span> 
                    {{inventoryItem.get_itemUnit_display}}
                </span>
                <span class="flex flex-col">
                    <span class="inventoryDeleteBtns">
                        <i class="fa-solid fa-xmark cursor-pointer hover:text-sky-600" data-pk="{{ inventoryItem.id }}" title="Remove">{% csrf_token %}</i>
                    </span>
                    <span class="inventoryEditBtns">
                        <i class="fa-regular fa-pen-to-square hover:text-sky-600 cursor-pointer" data-pk="{{ inventoryItem.id }}" title="Edit">{% csrf_token %}</i>
                    </span>
                </span>
            </div> 
                        {% endif %}
                    {% endfor %}
            <p class="font-bold">Restock</p>
            <hr class="mb-2">
                    {% for inventoryItem in inventory %}
                        {% if inventoryItem.itemQty == 0 or inventoryItem.itemQty <= inventoryItem.itemLimitAlert %}
            <div class="inventoryInstancesContainer relative opacity-50" id="inventoryInstanceRestockContainer{{ inventoryItem.id }}">
                <span class="ml-1 pr-2 inline-block">
                    <a href="#" class="increment-btn"><p><i class="fa-regular fa-square-plus" data-pk="{{ inventoryItem.id }}">{% csrf_token %}</i></p></a>
                    <a href="#" class="decrement-btn"><p><i class="fa-regular fa-square-minus" data-pk="{{ inventoryItem.id }}">{% csrf_token %}</i></p></a>
                </span>
                <span class="inline-block font-bold">{{ inventoryItem.itemName }}</span>
                <span class="inline-block font-medium italic text-sm mr-3">
                    <span class="inline-block" id="qty{{inventoryItem.id}}">{{inventoryItem.itemQty}}</span> 
                    {{inventoryItem.get_itemUnit_display}}
                </span>
                <span class="flex flex-col">
                    <span class="inventoryDeleteBtns">
                        <i class="fa-solid fa-xmark cursor-pointer hover:text-sky-600" data-pk="{{ inventoryItem.id }}" title="Remove">{% csrf_token %}</i>
                    </span>
                    <span class="inventoryEditBtns">
                        <i class="fa-regular fa-pen-to-square hover:text-sky-600 cursor-pointer" data-pk="{{ inventoryItem.id }}" title="Edit">{% csrf_token %}</i>
                    </span>
                </span>
            </div> 
                        {% endif %}
                    {% endfor %}
            <button type="button" class="addInventoryButton inline-block rounded bg-sky-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-sky-300 max-w-s self-center">
                + Add Inventory
            </button>
                {% else %}
            <p>Currently, there is no inventory.</p>
            <button type="button" class="addInventoryButton inline-block rounded bg-sky-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-sky-300 max-w-s self-center">
                + Add Inventory
            </button>
                {% endif %}
            {% else %}
            <p>Inventory is <b>disabled</b> of this project.</p>
            <p>Request project owner to enable this functionality.</p>
            {% endif %}
        </span>
    </div>
</div>
<div id="commentsProjectPageContainer">
    <form action="{% url 'projectPage' project.id %}" method="POST" class="commentForm">
        {% csrf_token %}
        {{ form.comment|safe }}
        <input class="inline-block rounded-full border-2 border-sky
        px-6 pt-2 pb-[8px] mt-2 mb-2 text-xs font-medium uppercase leading-normal 
        mb-1 hover:border-sky-600 cursor-pointer"
        id="commentButton" type="submit" value="Comment" name="commentBtn">
        {% for comment in comments %}
        <div class="bg-gray-100 m-2 border rounded-2xl px-5 py-2">
            <p style="display:inline-block" class="font-medium py-1">{{ comment.user }}</p>
            <i id="{{comment.id}}" class="fa-solid fa-xmark cursor-pointer deleteButton" style="float: right;"></i> <!--TODO: Delete Comment Button-->
            <li class="list-none text-base mb-2">{{ comment.comment }}</li>
            <p class="text-gray-600 text-xs py-2">{{ comment.date }} | {{ comment.time }}</p>
        </div>
        {% endfor %}
    </form>
    
</div>
{% endblock %}