{% extends "./layout.html" %}
{% load static %}

{% block body %}
    {% block script %}
    <script defer src="{% static 'taskomatic/projectPage.js' %}"></script>
    {% endblock %}
<div id="projectPageMainContainer">
    {% for item in project %}
    <h2>
        {{ item.projectName }}
        <form style="display: inline-block;" method="POST" action="{% url 'editProject' %}" name="editForm">
            {% csrf_token %}
            <input type="hidden" name="projectId" id="projectId" value="{{ item.id }}">
            <i id="editIcon" class="fa-solid fa-pen-to-square cursor-pointer"></i>
        </form>
    </h2>
    <p class="descriptiveParagraph">{{ item.projectDescription }}</p>
    <!-- "ADD TASK/INVENTORY" MODAL -->
    <div class="modal h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50 z-10 hidden">
        <div class="bg-white rounded shadow-lg w-1/3">
            <div class="border-b px-4 py-2">
                <h3 class="modalTitle"></h3>
            </div>
            <form method="POST" action="{% url 'handleTasks' 'add' %}" name="addTaskForm" id="addTaskForm">
                {% csrf_token %}
                <div class="p-3 tasksModalForm">
                    <input type="hidden" name="projectId" value="{{ item.id }}">
                    <input type="hidden" name="taskCreator" value="{{ request.user }}">
                    {{ taskForm.taskName }}
                    {{ taskForm.taskDescription }}
                    <label for="id_taskDeadline" class="font-bold">Deadline:</label>
                    {{ taskForm.taskDeadline }}
                    <label for="id_taskLimitAlert" class="font-bold">Reminder:</label>
                    {{ taskForm.taskLimitAlert }}
                    <label for="id_taskImportance" class="font-bold">Priority:</label>
                    {{ taskForm.taskImportance }} <span class="font-light text-sm italic">1 (Low) - 10 (High)</span>
                </div>
            </form>
            <form method="POST" action="{% url 'handleInventory' 'add' %}" name="addInventoryForm" id="addInventoryForm">
                {% csrf_token %}
                <div class="p-3 inventoryModalForm">
                    <input type="hidden" name="projectId" value="{{ item.id }}">
                    {{ inventoryForm.itemName }}
                    {{ inventoryForm.itemDescription }}
                    <label for="id_itemQty" class="font-bold">Amount:</label>
                    {{ inventoryForm.itemQty }}
                    {{ inventoryForm.itemUnit }} <br>
                    <label for="id_itemLimitAlert" class="font-bold">Restock Alert:</label>
                    {{ inventoryForm.itemLimitAlert }}
                </div>
            </form>
            <div class="flex justify-end items-center w-100 border-t p-3">
                <button class="bg-red-400 hover:bg-red-500 px-3 py-1 rounded text-white mr-1 close-modal">Back</button>
                <button class="bg-sky-400 hover:bg-sky-500 px-3 py-1 rounded text-white add-modal">Add</button>
            </div>
        </div>
    </div>
    <div id="tasksAndInventorySection">
        <span id="tasksContainer">
            <h3 class="mb-1">Tasks</h3>
            {% if item.hasTasks %}
                {% if tasks %}
                    {% for task in tasks %}
                    {% if task.taskCompletion == False %}
            <div class="taskInstancesContainer" id="taskInstancesContainer{{ task.id }}">
                <form method="POST" action="{% url 'handleTasks' 'complete' %}" name="completeTaskForm{{ task.id }}" id="{{ task.id }}">
                        {% csrf_token %}
                        {% for form in taskForms %}
                            {% if form.instance.id == task.id %}   
                                <input type="hidden" value="{{ task.id }}" name="hidTaskId">
                                {{ form.taskCompletion }}
                            {% endif %}
                        {% endfor %}
                </form>
                <span class="inline-block font-bold text-lg">{{ task.taskName }}</span>
                <span class="inline-block font-medium italic text-sm"><b>Due in:</b> {{ task.taskDeadline }}</span>
            </div>
                    {% endif %}
                    {% endfor %}
                    <p class="font-bold">Completed</p>
                    <hr class="mb-2">
                    {% for task in tasks %}
                    {% if task.taskCompletion == True %}
            <div class="taskInstancesContainer" id="taskInstancesContainer{{ task.id }}">
                <form method="POST" action="{% url 'handleTasks' 'complete' %}" name="completeTaskForm{{ task.id }}" id="{{ task.id }}">
                        {% csrf_token %}
                        {% for form in taskForms %}
                            {% if form.instance.id == task.id %}    
                                <input type="hidden" value="{{ task.id }}" name="hidTaskId">
                                {{ form.taskCompletion }}    
                            {% endif %}
                        {% endfor %}
                </form>
                <span class="inline-block font-bold text-lg">{{ task.taskName }}</span>
                <span class="inline-block font-medium italic text-sm"><b>Due in:</b> {{ task.taskDeadline }}</span>
            </div>
                    {% endif %}
                    {% endfor %}
            <button type="button" class="addTaskButton inline-block rounded bg-sky-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-sky-300 max-w-s self-center">
                + Add Task
            </button>
                {% else %}
            <p>Currently, there are no tasks.</p>
            <button type="button" class="addTaskButton inline-block rounded bg-sky-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-sky-300 max-w-s self-center">
                + Add Task
            </button>
                {% endif %}
            {% else %}
            <p>Tasks are <b>disabled</b> of this project.</p>
            <!-- Add another conditional here for owner of project (enable/disable button) -->
            <p>Request project owner to enable this functionality.</p>
            {% endif %}
        </span>
        <span id="inventoryContainer">
            <h3>Inventory</h3>
            {% if item.hasInventory %}
                {% if inventory %}
                    {% for inventoryItem in inventory %}
            <div class="inventoryInstancesContainer">
                <span class="ml-1 pr-2 inline-block">
                    <p><i class="fa-regular fa-square-plus"></i></p>
                    <p><i class="fa-regular fa-square-minus"></i></p>
                </span>
                <span class="inline-block font-bold">{{ inventoryItem.itemName }}</span>
                <span class="inline-block font-medium italic text-sm mr-2">{{inventoryItem.itemQty}} {{inventoryItem.get_itemUnit_display}}</span>
            </div>
                    {% endfor %}
            <button type="button" class="addInventoryButton inline-block rounded bg-sky-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-sky-300 max-w-s self-center">
                + Add Inventory
            </button>
                {% else %}
            <p>Currently, there is no inventory.</p>
            <button type="button" class="addInventoryButton inline-block rounded bg-sky-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-sky-300 max-w-s self-center">
                + Add Inventory
            </button>
                {% endif %}
            {% else %}
            <p>Inventory is <b>disabled</b> of this project.</p>
            <p>Request project owner to enable this functionality.</p>
            {% endif %}
        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}