html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

header {
    display: flex;
    justify-content: space-around;
}

#taskLogo {
    max-width: 30rem;
    margin: 2%;
}

.navSection {
    max-width: 20rem;
    margin: 2%;
}

.logInAndOut {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#indexUpperSection {
    display: flex;
    justify-content: space-between;
    min-height: 15rem;
    width: 85%;
}

#newProjectCard {
    margin: 0 auto;
    max-width: 65rem;
}

#newProjectFormContainer {
    margin: 0 auto;
    max-width: 40rem;
}

#projectFeaturesSection {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 1rem;
    max-width: 20rem;
    margin: 0 auto;
}

#containerDeadlineCheckBox {
    margin-bottom: 0.2rem;
}

#containerDeadlineDate {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
    padding-bottom: 0.5rem;
}

#dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#indexContacts {
    display: flex; 
    flex-direction: column;
    width: 45%;
    max-height: 17rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#indexContacts::-webkit-scrollbar {
    width: 0.25rem;
    
}
  
#indexContacts::-webkit-scrollbar-thumb {
    background-color: rgba(129, 129, 129, 0.7);
    border-radius: 0.1rem;
    
}
  
#indexContacts::-webkit-scrollbar-track {
    background-color: rgba(127, 255, 212, 0.2);
}

#indexAlerts {
    margin-right: 5%;
    width: 40%;
    max-height: 17rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#indexAlerts::-webkit-scrollbar {
    width: 0.25rem;
    
}
  
#indexAlerts::-webkit-scrollbar-thumb {
    background-color: rgba(129, 129, 129, 0.7);
    border-radius: 0.1rem;
    
}
  
#indexAlerts::-webkit-scrollbar-track {
    background-color: rgba(127, 255, 212, 0.2);
}

.contactInstanceContainer {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 100%;
}

.contactInstance {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: rgba(0, 255, 255, 0.2);
    border-radius: 0.3rem;
}

.noContact {
    margin-top: 2rem;
    align-self: center;
    font-size: 1.5rem;
}

.alertInstance {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: rgba(127, 255, 212, 0.2);
    border-radius: 0.3rem;
}

#ongoingProjectsContainer {
    width: 85%;
    padding: 1%;
}

#projectInstanceContainer {
    display: flex;
    justify-content:flex-start;
    width: 100%;
}

#projectInstance {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0.3rem;
}

#projectInstance:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

#projectInstanceAnchor {
    cursor: default;
    width: 100%;
}

.indexEditIcon {
    position: relative;
    right: 1rem;
    top: 0.2rem;
    cursor: pointer;
}

.dateCaption {
    cursor: default;
    font-size: 1.1rem;
    padding-right: 1.5rem;
}

#projectPageMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#commentsProjectPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0.8rem auto;
}

.commentForm {
    display: flex;
    flex-direction: column;
}

.descriptiveParagraph {
    margin: 0.5rem;
    width: 70%;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
}

#tasksAndInventorySection {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#tasksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 255, 255, 0.2);
    border-radius: 0.5rem;
    min-height: 12rem;
    min-width: 14rem;
    width: 90%;
    margin: 1%;
    padding: 3%;
}

#inventoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(127, 255, 212, 0.2);
    border-radius: 0.5rem;
    min-height: 12rem;
    min-width: 17.5rem;
    margin: 1%;
    padding: 1%;
}

#addTaskModalFormTitle {
    width: 80%;
}

#addTaskModalFormDescription {
    width: 95%;
}

#addInventoryModalFormTitle {
    width: 80%;
}

#addInventoryModalFormDescription {
    width: 95%;
}

.taskInstancesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    border: 1px solid rgba(127, 155, 112, 0.3);
    border-radius: 5%;
    padding: 1%;
    margin-bottom: 2%;
}

.taskInstancesContainer:hover {
    background-color: rgba(127, 255, 212, 0.2);
    border: none;
}

.taskCompleted {
    text-decoration: line-through;
    opacity: 0.5;
    background-color: rgba(211, 211, 211, 0.5);
}

.taskCompleted:hover {
    opacity: 0.8;
    background-color: rgba(211, 211, 211, 0.8);
}

.inventoryInstancesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    border: 1px solid rgba(0, 155, 155, 0.3);
    border-radius: 5%;
    padding: 1%;
    margin-bottom: 2%;
}

.inventoryInstancesContainer:hover {
    background-color: rgba(0, 255, 255, 0.2);
    border: none;
}

@media only screen and (max-width: 1050px) {

    html {
        font-size: 15px;
    }

    #indexUpperSection {
        width: 95%;
    }    

    #dashboardContainer {
        width: 95%;
    }

    #indexAlerts {
        margin-right: 3%;
    }
    
    #ongoingProjectsContainer {
        width: 95%;
    }

    #projectPageMainContainer {
        width: 95%;
    }
    
    .descriptiveParagraph {
        width: 85%;
    }
    
    #tasksAndInventorySection {
        width: 95%;
    }
    
    #addTaskModalFormTitle {
        width: 80%;
    }
    
    #addTaskModalFormDescription {
        width: 95%;
    }
    
    #addInventoryModalFormTitle {
        width: 80%;
    }
    
    #addInventoryModalFormDescription {
        width: 95%;
    }
}

@media only screen and (max-width: 580px) {

    html {
        font-size: 15px;
    }
    
    #taskLogo {
        max-width: 25rem;
        margin: 1%;
    }
    
    .navSection {
        max-width: 20rem;
        margin: 1%;
    }

    #indexUpperSection {
        flex-direction: column;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        min-height: 15rem;
    }    

    #dashboardContainer {
        width: 95%;
    }
    
    #ongoingProjectsContainer {
        width: 95%;
    }

    #indexContacts {
        width: 80%;
        max-height: 17rem;
    }
    
    #indexAlerts {
        margin-right: 3%;
        margin-top: 1rem;
        width: 80%;
        max-height: 15rem;
    }

    #projectInstance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 8rem;
    }
    
    #projectPageMainContainer {
        width: 100%;
    }

    #tasksAndInventorySection {
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
    }

    #tasksContainer {
        width: 100%;
    }
    
    #commentsProjectPageContainer {
        width: 95%;
    }
    
    .descriptiveParagraph {
        width: 85%;
    }
    
    .taskInstancesContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .taskDeleteBtns {
        align-self: flex-end;
        padding-right: 0.5rem
    }

}