html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

header {
    display: flex;
    justify-content: space-around;
}

#taskLogo {
    max-width: 30rem;
    margin: 2%;
}

.navSection {
    max-width: 20rem;
    margin: 2%;
}

.logInAndOut {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newProjectCard {
    margin: 0 auto;
    max-width: 65rem;
}

#newProjectFormContainer {
    margin: 0 auto;
    max-width: 40rem;
}

#projectFeaturesSection {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 1rem;
    max-width: 20rem;
    margin: 0 auto;
}

#containerDeadlineCheckBox {
    margin-bottom: 0.2rem;
}

#containerDeadlineDate {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
    padding-bottom: 0.5rem;
}

#dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#ongoingProjectsContainer {
    width: 85%;
    padding: 1%;
}

#projectInstanceContainer {
    display: flex;
    justify-content:flex-start;
    width: 100%;
}

#projectInstance {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0.3rem;
}

#projectInstance:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

#projectInstanceAnchor {
    cursor: default;
    width: 100%;
}

.indexEditIcon {
    position: relative;
    right: 1rem;
    top: 0.2rem;
    cursor: pointer;
}

.dateCaption {
    cursor: default;
    font-size: 1.1rem;
    padding-right: 1.5rem;
}

#projectPageMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.descriptiveParagraph {
    font-size: 1.2rem;
    font-style: italic;
}

#tasksAndInventorySection {
    display: flex;
    justify-content: space-between;
}

#tasksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 255, 255, 0.2);
    border-radius: 0.5rem;
    min-height: 12rem;
    min-width: 14rem;
    margin: 1%;
    padding: 2%;
}

#inventoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(127, 255, 212, 0.2);
    border-radius: 0.5rem;
    min-height: 12rem;
    min-width: 16rem;
    margin: 1%;
    padding: 2%;
}

#addTaskModalFormTitle {
    width: 80%;
}

#addTaskModalFormDescription {
    width: 95%;
}

#addInventoryModalFormTitle {
    width: 80%;
}

#addInventoryModalFormDescription {
    width: 95%;
}